.block {
  width: 100%;
  background: url('./img/bg@2x.png') no-repeat center 0 / cover;
  position: relative;


  &__bottle {
    width: 100%;
    background: no-repeat center 0 / cover;
    position: absolute;
  }
}
