.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}

/*# sourceMappingURL=BlockContent.css.map */
